:root {
  --rotateSpeed:30s;
  --bounceSpeed: 2s;
}

body {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  transform-style: preserve-3d;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 2em);
}

.scene {
  position: relative;
  transform-style: preserve-3d;
  -webkit-animation: sceneRotate var(--rotateSpeed) infinite linear;
          animation: sceneRotate var(--rotateSpeed) infinite linear;
  /* animation: sceneRotate var( --rotateSpeed) infinite linear; */
}
@-webkit-keyframes sceneRotate {
  to {
    transform: rotateY(360deg);
  }
}
@keyframes sceneRotate {
  to {
    transform: rotateY(360deg);
  }
}

.ball {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: rgb(4, 16, 190);
  position: absolute;
  left: -0.5em;
  bottom: 1em;
  background-image: radial-gradient(circle at top, rgba(0, 0, 0, 0.693), 70% rgb(255, 255, 255));
  transform-style: preserve-3d;
  animation: ballBounce var(--bounceSpeed) infinite linear ease-out, sceneRotate var(--rotateSpeed) infinite linear reverse;
}
@-webkit-keyframes ballBounce {
  0%, 100% {
    top: 1em;
  }
  50% {
    top: 3em;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
@keyframes ballBounce {
  0%, 100% {
    top: 1em;
  }
  50% {
    top: 3em;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
.ball .ball_shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  background-image: radial-gradient(rgba(0, 0, 0, 0.4666666667), rgba(0, 0, 0, 0) 100%);
}
.ball .cube {
  width: 2em;
  height: 2em;
  transform-style: preserve-3d;
  position: absolute;
  top: -1em;
  left: -1em;
}
.ball .left, .ball .right, .ball .front, .ball .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 255, 10, 0.406);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6666666667) inset;
}
.ball .front {
  transform: translateZ(1em);
}
.ball .right {
  transform: rotateY(90deg) translateZ(1em);
}
.ball .left {
  transform: rotateY(180deg) translateZ(1em);
}
.ball .back {
  transform: rotateY(270deg) translateZ(1em);
}
.ball .top {
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: rgba(5, 255, 18, 0.393);
  transform: translateY(-50%) rotateX(90deg);
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.6666666667) inset;
}
.ball .bottom {
  position: absolute;
  width: -2em;
  height: 5em;
  background-color: rgba(5, 255, 18, 0.393);
  bottom: 0;
  transform: translateY(-50%) rotateX(90deg);
  box-shadow: 0 0 0.5em rgb(0, 0, 0);
  animation: ballBounce var(bounceSpeed) infinite ease-out, sceneRotate var(--rotateSpeed) infinite linear reverse;
}
@keyframes ballBounce {
  0%, 100% {
    bottom: 1em;
  }
  50% {
    bottom: 3em;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
.ball .floor {
  position: absolute;
  top: 1em;
  transform: translate(-50%, -50%) rotateX(90deg);
  width: 15em;
  height: 15em;
  background: -moz-repeating-linear-gradient(rgba(251, 255, 5, 0.393), rgba(4, 117, 238, 0.393), rgba(102, 13, 237, 0.621), rgba(255, 5, 209, 0.393), rgba(10, 243, 235, 0.393), rgba(6, 42, 163, 0.393));
  background-size: 1em 4em;
}/*# sourceMappingURL=style.css.map */